@use "../../partials/mixins" as *;
@use "../../partials/variables" as *;

.form {
  padding: 0 2rem 1rem 2rem;
  &__formContainer {
    display: flex;
    flex-direction: column;
  }

  &__tagsButtonContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 1rem;
  }

  &__form {
    border-top: none;
    padding-top: 1rem;
    // box-shadow: 0 0 15px 0px $secondary-cloud;
    // clip-path: inset(0px -2px 0px -2px);
  }

  &__entryTitle {
    border: 1px solid $primary-white;
    padding: 1rem;
    margin-bottom: 1rem;
    @include tabletDesktopBodyLarge;
    font-family: inherit;
    font-size: 1rem;
    color: $secondary-navy;
  }

  &__entryTitle:active {
    border: 1px solid $primary-blue;
    outline: none;
    border-radius: 0.25rem;
    font-size: 1rem;
    color: $secondary-navy;
  }

  &__entryTitle:focus {
    border: 1px solid $primary-blue;
    outline: none;
    border-radius: 0.25rem;
    font-size: 1rem;
    color: $secondary-navy;
  }

  &__entryField {
    border: 1px solid $primary-white;
    padding: 1rem;
    @include tabletDesktopBodyLarge;
    font-family: inherit;
    box-shadow: 0 0 4px 0px $secondary-cloud;
    border-radius: 0.25rem;
  }

  &__entryField:active {
    border: 1px solid $primary-blue;
    outline: none;
    box-shadow: none;
    border-radius: 0.25rem;
  }

  &__entryField:focus {
    border: 1px solid $primary-blue;
    outline: none;
    box-shadow: none;
    border-radius: 0.25rem;
  }

  &__entryTags {
    border: 1px solid $primary-white;
    // border-bottom: 1px solid $secondary-cloud;
    padding: 1rem;
    @include tabletDesktopBodyLarge;
    font-family: inherit;
    width: 87%;
    margin-right: 2rem;
    box-shadow: 0 0 4px 0px $secondary-cloud;
  }

  &__entryTags:active {
    border: 1px solid $primary-blue;
    outline: none;
    border-radius: 0.25rem;
    box-shadow: none;
  }

  &__entryTags:focus {
    border: 1px solid $primary-blue;
    outline: none;
    border-radius: 0.25rem;
    box-shadow: none;
  }

  &__button {
    width: 13%;
    min-height: 62px;
    @include tabletDesktopButtonPrimary;
    border: none;
    font-weight: 600;
  }

  &__button:hover {
    @include tabletDesktopButtonPrimaryHover;
    font-weight: 600;
  }
}

textarea {
  resize: none;
  color: gray;
}
