@use "../../partials/mixins" as *;
@use "../../partials/variables" as *;

.singleEntry {
  padding: 2rem;

  &__singleContainer {
    box-shadow: 0 0 4px 0px $secondary-cloud;
    border-radius: 0.25rem;
    padding: 1rem;
  }

  &__editTitle {
    font-size: 2rem;
    color: $secondary-navy;
    margin: 0.5rem 0;
    padding: 1rem;
    margin: 0;
  }

  &__formEntryStyle {
    padding: 1rem;
    width: 100%;
    font-size: 1rem;
    font-family: inherit;
    border: none;
    border: 1px solid $primary-white;
  }

  &__formEntryStyle:active {
    border: 1px solid $primary-blue;
    outline: none;
    border-radius: 0.25rem;
    font-size: 1rem;
    color: $secondary-navy;
  }

  &__formEntryStyle:focus {
    border: 1px solid $primary-blue;
    outline: none;
    border-radius: 0.25rem;
    font-size: 1rem;
    color: $secondary-navy;
  }

  &__buttonContainer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 1rem;
    padding: 1rem;
  }

  &__entryTags {
    border: 1px solid $primary-white;
    padding: 1rem;
    @include tabletDesktopBodyLarge;
    font-family: inherit;
    width: 87%;
    margin-right: 2rem;
  }

  &__entryTags:active {
    border: 1px solid $primary-blue;
    outline: none;
    border-radius: 0.25rem;
    box-shadow: none;
  }

  &__entryTags:focus {
    border: 1px solid $primary-blue;
    outline: none;
    border-radius: 0.25rem;
    box-shadow: none;
  }

  &__button {
    width: 25%;
    min-height: 62px;
    @include tabletDesktopButtonPrimary;
    border: none;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    margin-left: 1rem;
    border: 1px solid $secondary-navy;
  }

  &__button:hover {
    @include tabletDesktopButtonPrimaryHover;
    font-weight: 600;
    border-radius: 2rem;
    border: 1px solid $primary-blue;
  }

  &__button--cancel {
    width: 25%;
    min-height: 62px;
    background: $primary-white;
    border: 1px solid $secondary-navy;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    margin-left: 1rem;
  }

  &__button--cancel:hover {
    @include tabletDesktopButtonPrimaryHover;
    font-weight: 600;
    border-radius: 2rem;
  }
}
