@use "../../partials/mixins" as *;
@use "../../partials/variables" as *;

.singleEntry {
  padding: 2rem;

  &__singleContainer {
    box-shadow: 0 0 4px 0px $secondary-cloud;
    border-radius: 0.25rem;
    padding: 1rem;
  }

  &__title {
    padding: 1rem;
    width: 100%;
    font-size: 1rem;
    font-family: inherit;
    border: none;
    border: 1px solid $primary-white;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 700;
    color: $secondary-navy;
  }

  &__title:active {
    border: 1px solid $primary-blue;
    outline: none;
    border-radius: 0.25rem;
    font-size: 2rem;
    font-weight: 700;
    color: $secondary-navy;
  }

  &__title:focus {
    border: 1px solid $primary-blue;
    outline: none;
    border-radius: 0.25rem;
    font-size: 2rem;
    font-weight: 700;
    color: $secondary-navy;
  }

  &__entry {
    padding: 1rem;
    width: 100%;
    height: 250px;
    font-size: 1rem;
    font-family: inherit;
    border: none;
    border: 1px solid $primary-white;
  }

  &__entry:active {
    border: 1px solid $primary-blue;
    outline: none;
    border-radius: 0.25rem;
    font-size: 1rem;
    color: $secondary-navy;
  }

  &__entry:focus {
    border: 1px solid $primary-blue;
    outline: none;
    border-radius: 0.25rem;
    font-size: 1rem;
    color: $secondary-navy;
  }

  &__buttonContainer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 1rem;
    padding: 1rem;
    width: 100%;
  }

  &__entryTags {
    padding: 1rem;
    width: 100%;
    font-size: 1rem;
    font-family: inherit;
    border: none;
    border: 1px solid $primary-white;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: $secondary-navy;
  }

  &__entryTags:active {
    border: 1px solid $primary-blue;
    outline: none;
    border-radius: 0.25rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: $secondary-navy;
  }

  &__entryTags:focus {
    border: 1px solid $primary-blue;
    outline: none;
    border-radius: 0.25rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: $secondary-navy;
  }

  &__button {
    width: 25%;
    min-height: 62px;
    @include tabletDesktopButtonPrimary;
    border: none;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    margin-left: 1rem;
    border: 1px solid $secondary-navy;
  }

  &__button:hover {
    @include tabletDesktopButtonPrimaryHover;
    font-weight: 600;
    border-radius: 2rem;
    border: 1px solid $primary-blue;
  }

  &__button--cancel {
    width: 25%;
    min-height: 62px;
    background: $primary-white;
    border: 1px solid $secondary-navy;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    margin-left: 1rem;
    color: $secondary-navy;
  }

  &__button--cancel:hover {
    @include tabletDesktopButtonPrimaryHover;
    font-weight: 600;
    border-radius: 2rem;
    color: $primary-white;
  }

  &__actionButtons {
    display: flex;
    flex-direction: row;
  }

  &__deleteContainer {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
  }

  &__actionButtons--delete {
    background: none;
    border: none;
  }

  &__deleteImg {
    width: 50px;
  }
}
