@use "../../partials/mixins" as *;
@use "../../partials/variables" as *;

.tagsList {
  width: 15%;
  padding: 1rem;
  border-left: 1px solid $primary-blue;
  background-color: #fafafa;

  &__tag {
    color: $secondary-navy;
    text-decoration: none;
    font-size: 1rem;
    // -webkit-text-stroke: 1px $primary-blue;
  }

  &__link {
    text-decoration: none;
    font-family: inherit;
    background-color: none;
    background: none;
    border: none;
  }

  &__link:hover {
    text-decoration: underline;
    -webkit-text-stroke: 1px rgba(83, 223, 209, 0.5);
  }
}
