// Avenir
@font-face {
  font-family: "AvenirNext";
  src: url("../assets/Fonts/AvenirConverted/AvenirNextLTPro-Regular.woff2")
      format("woff2"),
    url("../assets/Fonts/AvenirConverted/AvenirNextLTPro-Regular.woff")
      format("woff"),
    url("../assets/Fonts/AvenirConverted/AvenirNextLTPro-Regular.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}

// Avenir Bold
@font-face {
  font-family: "AvenirNext";
  src: url("../assets/Fonts/AvenirConverted/AvenirNextLTPro-Bold.woff2")
      format("woff2"),
    url("../assets/Fonts/AvenirConverted/AvenirNextLTPro-Bold.woff")
      format("woff"),
    url("../assets/Fonts/AvenirConverted/AvenirNextLTPro-Bold.ttf")
      format("truetype");
  font-weight: bold;
  font-style: normal;
}

// Avenir Demi
@font-face {
  font-family: "AvenirNext";
  src: url("../assets/Fonts/AvenirConverted/AvenirNextLTPro-Demi.woff2")
      format("woff2"),
    url("../assets/Fonts/AvenirConverted/AvenirNextLTPro-Demi.woff")
      format("woff"),
    url("../assets/Fonts/AvenirConverted/AvenirNextLTPro-Demi.ttf")
      format("truetype");
  font-weight: 600;
  font-style: normal;
}
