// Titillium Regular
@font-face {
  font-family: "Titillium";
  src: url("../assets/Fonts/TitilliumWeb-Regular.woff2") format("woff2"),
    url("../assets/Fonts/TitilliumWeb-Regular.woff") format("woff"),
    url("../assets/Fonts/TitilliumWeb-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

// Titillium Bold
@font-face {
  font-family: "Titillium";
  src: url("../assets/Fonts/TitilliumWeb-Bold.woff2") format("woff2"),
    url("../assets/Fonts/TitilliumWeb-Bold.woff") format("woff"),
    url("../assets/Fonts/TitilliumWeb-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

// Titillium Semi Bold
@font-face {
  font-family: "Titillium";
  src: url("../assets/Fonts/TitilliumWeb-SemiBold.woff2") format("woff2"),
    url("../assets/Fonts/TitilliumWeb-SemiBold.woff") format("woff"),
    url("../assets/Fonts/TitilliumWeb-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
