$tablet-breakpoint: 767px;
$desktop-breakpoint: 1279px;

$primary-black: #13182c;
$primary-blue: #53dfd1;
$primary-white: #ffffff;

$secondary-navy: #0f1e64;
$secondary-blue: #1c9b8e;

$secondary-slate: #5c667e;
$secondary-cloud: #bdc5d5;

$background-graphite: #232940;
$background-lightgrey: #f7f8f9;

$accent-green: #50655b;
$accent-red: #c94515;
